body{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0;
    background: white;
    margin: 0;
    height: 100%;
}
.alert-success{
    background-color: #619165;
}

.alert-danger{
    background-color: #C8153B;
}
.card{
    border: none;
    border-radius: 25px;
}
.card img{
    border-radius: 25px 25px 0 0;
}
@media (min-width: 768px){
    .card img{
        border-radius: 25px 0 0 25px;
    }
} 
input.form-control,select.form-control{
    border-radius: 25px;
}
div#feed{
    margin-top: 5em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}