body{
    font-family: 'Roboto', sans-serif;
    padding: 2em 0.5em;
    padding-bottom: 0;
    background-color: #343a40;
}
.alert-success{
    background-color: #619165;
}

.alert-danger{
    background-color: #C8153B;
}
/* nav#navbar{
    background-color: red !important;
} */
